@import "./base/globals";
@import "./base/variables";
@import "./base/mixins";
.header_main {
    background-color: $primary_color;
    padding: 3px;
}

.logo {
    img {
        height: 160px;
        width: 200px;
        object-fit: contain;
    }
    &--small {
        img {
            height: 30px;
            width: 30px;
            object-fit: contain;
        }
    }
}

.flex {
    display: flex;
    align-items: center;
    &__j-c-c {
        justify-content: center;
    }
    &__j-c-l {
        justify-content: left;
    }
    &__j-c-r {
        justify-content: right;
    }
}

.login {
    border: 2px solid rgb(255, 255, 255);
    padding: 2px 32px;
    border-radius: 32px;
    a {
        font-size: 12px;
        color: white;
    }
}

.title {
    padding: 0 150px;
    text-align: center;
    h2 {
        font-weight: 800;
        color: #393939;
        font-size: 54px;
        margin-top: 12px;
        margin-bottom: 32px;
    }
    span {
        color: $primary_color;
    }
    h3 {
        margin: 40px 0;
        font-size: 16px;
        padding: 0 200px;
        font-weight: 500;
        color: #505050;
    }
}

.design_image {
    text-align: center;
    img {
        height: 455px;
        width: 500px;
        object-fit: cover;
    }
}

.btn {
    margin-bottom: 64px;
    text-align: center;
    background-color: $primary_color;
    border-radius: 32px;
    a {
        color: white;
    }
}

.main_user_count {
    background-color: $secondary_color;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    h6 {
        margin-bottom: 0;
        text-transform: capitalize;
    }
}

.user_number {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        height: 30px;
        width: 30px;
        object-fit: cover;
        margin-left: 12px;
    }
}

.main_about {
    position: relative;
    .download_logo {
        position: absolute;
        top: 50%;
        transform: translateY(30%);
    }
    .left {
        left: 25px;
    }
    .right {
        bottom: -130px;
        right: 25px;
    }
}

.ms_single {
    margin: 30px 50px;
    background: white;
    padding: 80px;
    border-radius: 132px;
    display: flex;
    align-items: center;
    box-shadow: 6px 8px 20px #e1e1e1;
}

.mssl_icon {
    img {
        height: 150px;
        width: 150px;
        object-fit: cover;
    }
}

.mss_right {
    img {
        height: 500px;
        width: 500;
        object-fit: cover;
    }
}

.mssl_title {
    padding: 12px 0;
    h6 {
        color: #393939;
        font-size: 36px;
        font-weight: 700;
        text-transform: capitalize;
    }
}

.mssl_desc {
    padding-bottom: 18px;
    padding-right: 60px;
}

.mp_desc {
    width: 50%;
}

.process_single {
    margin: 75px 315px 75px 160px;
    display: flex;
}

.ps-left-number {
    h6 {
        height: 100px;
        width: 100px;
        line-height: 100px;
        border-radius: 50%;
        background: $primary_color;
        text-align: center;
        color: white;
        font-size: 32px;
        margin: 0 24px;
    }
}

.psr-title {
    h6 {
        font-size: 28px;
        font-weight: 600;
        text-transform: capitalize;
        color: #525252;
    }
}

.psr-text {
    padding-top: 12px;
}

.psr-link {
    a {
        font-weight: 700;
        color: $secondary_color;
        text-transform: uppercase;
    }
}

.main_process {
    position: relative;
}

.side_link_content {
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translateY(50%);
    .side_links {
        margin: 18px 0;
        li {
            margin-bottom: 12px;
        }
    }
}

.sl-title {
    h6 {
        font-size: 24px;
        text-transform: capitalize;
    }
}

.mv-content {
    padding: 100px;
    background: $primary_color;
    border-radius: 132px;
    height: 650px;
}

.main-video {
    .sec-title {
        h2 {
            color: white;
        }
    }
}

.video-play-button {
    text-align: right;
}

.main-faqs {
    .sec-title {
        text-align: center;
        width: 100%;
        padding: 0 200px;
    }
    h2 {
        margin: 0;
    }
}

.mf-content {
    padding: 48px 0;
    h5 {
        text-align: center;
    }
    .btn-link {
        font-size: 28px;
        border: none;
        background: none;
        color: #2b2b2b;
        font-weight: 500;
        text-transform: capitalize;
        &::after {
            content: "\f13a";
            color: #2b2b2b;
            font-family: "Font Awesome 5 Free";
            font-weight: 800;
        }
    }
    .card-header {
        background: none;
        border: none;
    }
    .card {
        border: none;
        background: none;
    }
    button:focus {
        outline: 0;
    }
    .card-body {
        font-size: 16px;
        text-align: center;
    }
}

.redirect {
    margin: 80px 0;
    a {
        text-transform: capitalize;
        color: black;
        font-weight: 600;
        font-size: 18px;
        padding: 10px 20px;
        border-radius: 32px;
        border: 3px solid black;
    }
    .btn {
        background: none;
        color: black;
        a {
            &::after {
                content: "\f0a9";
                color: #2b2b2b;
                font-family: "Font Awesome 5 Free";
                font-weight: 800;
                margin: 0 12px;
            }
        }
    }
}

.ftl-content {
    padding: 10px;
    display: flex;
    align-items: center;
    img {
        height: 100px;
        width: 100%;
        object-fit: cover;
    }
    li {
        margin-right: 24px;
    }
}

.social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 30px;
}

.social-icons li {
    height: 30px;
    width: 30px;
    background: $primary_color;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
    margin-right: 8px;
    font-size: 14px;
    a {
        color: white;
    }
}

.disp {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.jcs {
    justify-content: flex-start;
}

.copy-right {
    background: $primary_color;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
    a {
        color: white;
    }
}