html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "poppins", sans-serif;
  background: #fdfcfc;
}

body a {
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  text-decoration: none;
  color: black;
}

body a:hover {
  text-decoration: none;
  color: #de0b39;
}

body a:focus {
  outline: none;
}

body ul {
  margin: 0;
  padding: 0;
}

body ul li {
  list-style-type: none;
}

body p {
  font-weight: 400;
  font-size: 14px;
  color: #393939;
}

.sec-padding {
  padding: 60px 0;
}

.sec-title {
  margin-top: 20px;
  margin-bottom: 12px;
  width: 60%;
}

.sec-title h2 {
  text-transform: capitalize;
  position: relative;
  display: inline-block;
  font-weight: 600;
  color: #4c4c4c;
  font-size: 42px;
}

.container {
  max-width: 1400px;
}

.navbar-expand-lg .navbar-collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 12px;
  color: white;
  font-weight: 500;
}

.nav-link {
  padding: 2px 0;
}

.side-padding {
  padding-left: 60px;
  padding-right: 60px;
}

.header_main {
  background-color: #de0b39;
  padding: 3px;
}

.logo img {
  height: 160px;
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.logo--small img {
  height: 30px;
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex__j-c-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex__j-c-l {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.flex__j-c-r {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.login {
  border: 2px solid white;
  padding: 2px 32px;
  border-radius: 32px;
}

.login a {
  font-size: 12px;
  color: white;
}

.title {
  padding: 0 150px;
  text-align: center;
}

.title h2 {
  text-transform: capitalize;
  font-weight: 800;
  color: #393939;
  font-size: 54px;
  margin-top: 12px;
  margin-bottom: 32px;
}

.title span {
  color: #de0b39;
}

.title h3 {
  margin: 40px 0;
  font-size: 16px;
  padding: 0 200px;
  font-weight: 500;
  color: #505050;
}

.design_image {
  text-align: center;
}

.design_image img {
  height: 455px;
  width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  margin-bottom: 64px;
  text-align: center;
  background-color: #de0b39;
  border-radius: 32px;
}

.btn a {
  color: white;
}

.main_user_count {
  background-color: #003694;
  color: white;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_user_count h6 {
  margin-bottom: 0;
  text-transform: capitalize;
}

.user_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user_number img {
  height: 30px;
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 12px;
}

.main_about {
  position: relative;
}

.main_about .download_logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
}

.main_about .left {
  left: 25px;
}

.main_about .right {
  bottom: -130px;
  right: 25px;
}

.ms_single {
  margin: 30px 50px;
  background: white;
  padding: 80px;
  border-radius: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 6px 8px 20px #e1e1e1;
          box-shadow: 6px 8px 20px #e1e1e1;
}

.mssl_icon img {
  height: 150px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mss_right img {
  height: 500px;
  width: 500;
  -o-object-fit: cover;
     object-fit: cover;
}

.mssl_title {
  padding: 12px 0;
}

.mssl_title h6 {
  color: #393939;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
}

.mssl_desc {
  padding-bottom: 18px;
  padding-right: 60px;
}

.mp_desc {
  width: 50%;
}

.process_single {
  margin: 75px 315px 75px 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ps-left-number h6 {
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 50%;
  background: #de0b39;
  text-align: center;
  color: white;
  font-size: 32px;
  margin: 0 24px;
}

.psr-title h6 {
  font-size: 28px;
  font-weight: 600;
  text-transform: capitalize;
  color: #525252;
}

.psr-text {
  padding-top: 12px;
}

.psr-link a {
  font-weight: 700;
  color: #003694;
  text-transform: uppercase;
}

.main_process {
  position: relative;
}

.side_link_content {
  position: absolute;
  right: 80px;
  top: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.side_link_content .side_links {
  margin: 18px 0;
}

.side_link_content .side_links li {
  margin-bottom: 12px;
}

.sl-title h6 {
  font-size: 24px;
  text-transform: capitalize;
}

.mv-content {
  padding: 100px;
  background: #de0b39;
  border-radius: 132px;
  height: 650px;
}

.main-video .sec-title h2 {
  color: white;
}

.video-play-button {
  text-align: right;
}

.main-faqs .sec-title {
  text-align: center;
  width: 100%;
  padding: 0 200px;
}

.main-faqs h2 {
  margin: 0;
}

.mf-content {
  padding: 48px 0;
}

.mf-content h5 {
  text-align: center;
}

.mf-content .btn-link {
  font-size: 28px;
  border: none;
  background: none;
  color: #2b2b2b;
  font-weight: 500;
  text-transform: capitalize;
}

.mf-content .btn-link::after {
  content: "\f13a";
  color: #2b2b2b;
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
}

.mf-content .card-header {
  background: none;
  border: none;
}

.mf-content .card {
  border: none;
  background: none;
}

.mf-content button:focus {
  outline: 0;
}

.mf-content .card-body {
  font-size: 16px;
  text-align: center;
}

.redirect {
  margin: 80px 0;
}

.redirect a {
  text-transform: capitalize;
  color: black;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 32px;
  border: 3px solid black;
}

.redirect .btn {
  background: none;
  color: black;
}

.redirect .btn a::after {
  content: "\f0a9";
  color: #2b2b2b;
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  margin: 0 12px;
}

.ftl-content {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ftl-content img {
  height: 100px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ftl-content li {
  margin-right: 24px;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 30px;
}

.social-icons li {
  height: 30px;
  width: 30px;
  background: #de0b39;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;
  margin-right: 8px;
  font-size: 14px;
}

.social-icons li a {
  color: white;
}

.disp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jcs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.copy-right {
  background: #de0b39;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  color: white;
}

.copy-right a {
  color: white;
}

.services .nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .nav-tabs .nav-link,
.services .nav-tabs {
  border: 0;
}

.services .nav-link {
  text-align: center;
  border-radius: 18px;
  margin: 8px;
  padding: 12px;
  background: #f4f4f4;
}

.sn-content {
  height: 100px;
  width: 100px;
  line-height: 70px;
}

.sn-content img {
  height: 60px;
  width: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.sn-content h6 {
  text-transform: capitalize;
  margin: 8px 0;
  font-size: 12px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: white;
  background: #de0b39;
}

.services-navigation {
  padding: 0 200px;
}

.tab-content {
  margin: 72px 0;
  padding: 60px 80px;
  background: #de0b39;
  color: white;
  border-radius: 100px;
}

.tc-title {
  text-align: center;
}

.tc-title h5 {
  margin: 18px 0;
  font-size: 46px;
  font-weight: 600;
}

.tc-vector {
  margin: 32px 0;
  text-align: center;
}

.tc-vector img {
  height: 375px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.tc-text {
  padding: 0 60px;
}

.tc-text p {
  color: white;
  font-size: 18px;
  text-align: center;
}

.tc-highlight-text {
  margin: 48px 0;
  text-align: center;
}

.tc-highlight-text h3 {
  font-weight: 700;
  font-size: 38px;
}

.action-button {
  padding: 10px 20px;
  display: inline-block;
  background: #ffb636;
  border-radius: 32px;
}

.action-button a {
  color: white;
  font-size: 24px;
  font-weight: 500;
}

.video-tutorial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.display-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.charges-table-content {
  margin: 24px 0;
  padding: 0 200px;
}

.table-title {
  margin: 18px 0;
  text-align: center;
}

.table-title h4 {
  color: #de0b39;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 21px;
}

thead {
  background: #003694;
  color: white;
}

.charges-table-content {
  margin: 80px 0;
}
/*# sourceMappingURL=main.css.map */